* { 
    margin : 0 ; 
    padding:  0 ;
    background-color: rgb(66, 66, 66);
    color: white;
}
a { 
    font-family: 'Questrial', sans-serif;
    text-decoration: none;
   
    background-color: transparent;
    font-size: 1.2rem;
    text-align: center;
    padding: 2%;

    
}

a:hover { 
    background-color: #A8C1E3;
    transition: 1s;
}

